*.json
*.safetensors
*.pt
*.pth
*.bin
/dev/python/capstone/new_model/ast-finetuned-fsd50k-custom/
/dev/python/capstone/new_model/ast-finetuned-fsd50k-focal-loss/
/dev/python/capstone/new_model/ast-finetuned-fsd50k-focal-loss-weighted/
/dev/python/capstone/new_model/ast-finetuned-fsd50k-multi-label/